/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
 
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* END OF RESET */

:root {
   /* Text */
   --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
   --softRed: hsl(14, 88%, 65%);
   --veryDarkGreyishBlue: hsl(237, 12%, 33%);
   --darkGreyishBlue: hsl(240, 6%, 50%);

   /* Gradient */
   --softViolet: hsl(273, 75%, 66%);
   --softBlue: hsl(240, 73%, 65%);

   /* Dividers */
   --lightGreyishBlue: hsl(240, 5%, 91%);
}

body {
   font-size: 12px;
   font-family: 'Kumbh Sans', sans-serif;

   display: flex;
   justify-content: center;
   align-items: center;

   background-image: linear-gradient(var(--softViolet), var(--softBlue));
}

.container {
   background-color: white;
   display: flex;
   align-items: center;
}

.container--right {
   width: 50%;
}


.bg-pattern-desktop {
   background-image: url(images/bg-pattern-desktop.svg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}

.illustration-woman {
   background-image: url(images/illustration-woman-online-desktop.svg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}

.illustration-box-desktop {
   background-image: url(images/illustration-box-desktop.svg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}